/*
CSS EXERCISES

        11) Give a maximum width to the body and center it into the page
        12) Set every h1 to be centered
        13) Change the color of each link in the page
        14) Create a class with a border assigned to it
        15) Set the previously created table to have rounded corners
        16) Add a margin between every paragraph
        17) Create a class which changes font size and text weight when applied
        18) Create a class to hide a piece of content
        19) Add a green border to each <td>
        20) Add a dotted red border to each <tr> (note: <tr> does not accept a border property)

*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
} 
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
} 
tr:nth-child(even) {
    background-color: #dddddd;
}
.image{
    width: 80px;
    height: 20%;
    position:relative;
    padding-left: 10%;
}