/*
CSS EXERCISES

        11) Give a maximum width to the body and center it into the page
        12) Set every h1 to be centered
        13) Change the color of each link in the page
        14) Create a class with a border assigned to it
        15) Set the previously created table to have rounded corners
        16) Add a margin between every paragraph
        17) Create a class which changes font size and text weight when applied
        18) Create a class to hide a piece of content
        19) Add a green border to each <td>
        20) Add a dotted red border to each <tr> (note: <tr> does not accept a border property)

*/
/*14) Create a class with a border assigned to it*/
/* 11) Give a maximum width to the body and center it into the page*/
body{
    min-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border: 2px solid #00db71;
    border-radius: 20px;
}
/*15) Set the previously created table to have rounded corners*/
/* 12) Set every h1 to be centered*/
h1{
    color: #00db71;
    text-align: center;
    border: 2px solid #00db71;
    border-radius: 20px;
    
}
/*13) Change the color of each link in the page*/
a{
    color: #00db71
}
/*16) Add a margin between every paragraph*/
p{
    border: 1px solid #00db71;
    border-radius: 10px;
    margin: 15px;

}
/*18) Create a class to hide a piece of content*/
.hide-content{
    visibility:hidden;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px;
    border-radius: 5px;
} 
#create-table{
    border: 1px;
    border-radius: 5px;
}
/*19) Add a green border to each <td>*/
td{
    border: 1px solid #00db71;
}
/*20) Add a dotted red border to each <tr> (note: <tr> does not accept a border property)*/
tr{
    border-collapse: collapse;
    border-style: dotted;
    border-color: red;
    border-radius: 5px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
} 
tr:nth-child(even) {
    background-color: #dddddd;
}
.image{
    width: 80px;
    height: 20%;
    position:relative;
    padding-left: 10%;
}
hr{
    color: #00db71;
    border-top: 5px solid #00db71;
}
.td-color-change{
    color:#00db71;
    text-align: center;
    font-size: 30px;
}
/*17) Create a class which changes font size and text weight when applied*/
.change-font-size-and-weight{
    color: #00db71;
    text-align: center;
    font-family: 'Zen Kurenaido', sans-serif; 
    font-weight: bold;
}

footer{
    background: #dddddd;
    padding: 15px 23px;
    color: black;
    text-align: center;
    border-radius: 20px;

}
footer span a{
    color:#00db71;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

.test{
    text-align: center;
    color:#00db71;
    font-size: 30px;;
}

.change-link-background{
    background-color: red;
}